body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
}

header{    
    background: url(../images/header.jpg) no-repeat;
    background-size: 100% 100%;
    border-bottom: solid 4px;
    border-color: brown;
    min-height: 100px;
}

header #painting{
    float:left;
}

header #painting h1{
    padding-top: 15px;
    margin: 0;
}

header .current a{
    color: brown;
    font-weight: bold;

}

header nav{
    float:right;
}

header ul{
    color: white;
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
}

header li a:active{
    color: brown;
}


header li a:hover{
    border-bottom: solid brown 5px;
        color: brown;
    }


header li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
}

.container{
    text-align: center;
    width: 80%;
    margin:auto;
    overflow: hidden;
}

.button{
    background-color: brown;
    color: white;
    border: none;
    height: 25px;
    padding: 0 15px 0 15px;
}

#painting{
    float:left;
    color: white;
}

#showcase{
    min-height: 115px;
    background: url(../images/showcase.JPG)  no-repeat;
    background-size: 100% 100%; 
    color: white;  
}

#newsletter {
    background: url(../images/subscribe.JPG)  no-repeat;
    background-size: 100% 100%;  
    border-bottom: solid 4px;
    border-color: brown;      
}

#newsletter h1{
    color: white;
    float:left;
}

#newsletter form{
    margin-top: 20px;
    float:right;
}

#boxes{
    margin-top: 20px;
    height: 250px;
}

#boxes .box{
    float: left;
    width: 23%; 
    padding: 10px;
    text-align: center;  
}

#boxes .box .imageTitle{
    font-weight: bold;

}

#boxes .box img{
    width: 180px;
}


footer{
    margin-top: 240px;
    padding: 15px;
    color: white;
    background-color: brown;
    text-align: center;
}

#about .container{
    margin-top: 50px;
    text-align: left;

}

#about img{
    height: 175px;
    float: left;
    padding-right: 20px;
}
